---
import Header from "../components/Header.astro";
import Form from "../components/Form.astro";
import Social from "../components/Social.astro";
import SpanishLayout from "../layouts/SpanishLayout.astro";
import Gallery from "../components/Gallery.astro";
---

<SpanishLayout title="Predicador">
	<!-- <Header />
	<Gallery />
	<Form />
	<Social/> -->
	<div style="max-width: 500px; margin: 100px auto; padding: 40px; background: #fff; border-radius: 12px; box-shadow: 0 2px 16px rgba(0,0,0,0.08); text-align: center;">
		<h1 style="color: #c0392b;">Sitio Suspendido</h1>
		<p>Este sitio web ha sido suspendido debido a falta de pago y abandono del proyecto por parte del propietario.</p>
		<p>Si usted es el titular y desea reactivar el sitio, por favor contacte al desarrollador responsable.</p>
		<p style="color: #888; font-size: 0.95em;">Gracias por su comprensión.</p>
  </div>
</SpanishLayout>
<script>
	import "../script/mainMenu";
	import "../script/ValidationForm";
</script>
<style lang="scss">

	p {
		font-size: 1.1rem;
		line-height: 1.6;
		margin: 20px 0;
		color: #333;
	}

	h2 {
		margin-top: 70px;
	}
	button img {
		margin: 20px;
	}

	@media only screen and (min-width: 1024px) {

		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			height: 100%;
		}
	}
</style>