---

import PictureB from "../assets/image/web1.webp";
import pictureD from "../assets/image/web2.webp";
import pictureE from "../assets/image/web3.webp";
import pictureF from "../assets/image/web4.webp";
---

<header id="home">
  <div class="content-box" id="animationA"> 
    <p>PREDICADOR</p>
    <h1>EMANUEL SHARES</h1>
    <p>Predico para encender corazones, y ver cómo Dios transforma vidas por su Espíritu.</p>
  </div>
</header>
<div class="content-text" id="join">
  <div class="content-shadow">
    <h3>EXPERIENCIA</h3>
    <div class="underline"></div>
    <p>Evangelista desde 2012, inicié mi ministerio a los 17 años. Fui ordenado pastor a los 20, sirviendo en Venezuela,
      América Latina y Estados Unidos. Actualmente pastoreo en Homeway Church, Florida. Más allá de los eventos y las plataformas,
      he aprendido a valorar los procesos y la obediencia.
      Cada predicación ha sido una oportunidad para ver la mano de Dios transformando vidas.
    </p>
  </div>
  <div class="content-shadow">
    <h3>OBJETIVO</h3>
    <div class="underline"></div>
    <p>Llevar la Palabra con claridad, fuego y verdad.
      Mi misión es despertar fe, activar propósitos y levantar discípulos comprometidos con el Reino.
      Donde Dios abra la puerta, estaré listo para servir.
    </p>
  </div>
  <div class="content-shadow">
    <h3>INVITACIONES</h3>
    <div class="underline"></div>
    <p>¿Deseas que predique en tu iglesia, congreso o retiro?
      Estoy disponible para:
      •	Eventos juveniles
      •	Vigilias, campamentos y congresos
      •	Cultos especiales y entrenamientos de liderazgo
    </p>
  </div>
</div>
<section id="about">
  <div class="about-content">
    <h2>SOBRE MI</h2>
    <div class="underline"></div>
     <p>
    Soy Emanuel Shares (Bracho), pastor, evangelista y predicador desde los 17 años.
    A los 15 entregué mi vida a Cristo. A los 17 comencé a evangelizar. A los 20 fui ordenado pastor en Venezuela.
  </p>
  <p>
    Hoy sirvo como pastor en Homeway Church (Florida), con un solo propósito: compartir lo que Dios me ha dado. Por eso adopté el apellido “Shares”:
    porque tengo algo eterno que compartir con cada persona que me escucha.
    Mi pasión es predicar con poder, discipular con profundidad y encender corazones con el fuego del Espíritu.
  </p>
    <a href="http://wa.me/+19545528230" target="_blank">
      <button class="primarybutton" type="button">Hazme una invitación</button>
    </a> 
  </div>
  <img src={PictureB.src} alt="image">
</section>
<article> 
  <div class="content-gap"  id="animationB">
    <img src={pictureE.src} alt="image">
    <h3>Fé</h3>
    <p>A los 15 creí. A los 17 prediqué. Y desde entonces, vivo por fe.
      Predico una fe que provoca acción, milagros y transformación.
      “La fe ve lo invisible y confía en lo eterno.
    </p>
  </div>
  <div class="content-gap" id="animation-second">
    <img src={pictureF.src} alt="image">
    <h3>Oración</h3>
    <p>¿Tienes una carga? Estoy aquí para orar contigo.
      Llena el formulario y la llevaré a la presencia de Dios.
      “Clama a mí y yo te responderé…” – Jeremías 33:3
    </p>
  </div>
  <div class="content-gap" id="animation-content">
    <img src={pictureD.src} alt="image">
    <h3>Testimonio</h3>
    <p>A los 15 años Cristo me encontró y me dio propósito.
      Desde entonces, todo lo que hago es para reflejar lo que Él hizo conmigo.
      Hoy predico porque fui transformado. Hoy sirvo porque fui restaurado.
      En Homeway Church, sigo viendo vidas cambiar… y sé que esto apenas comienza.
    </p>
  </div>
</article>
<div class="button-container">
  <a href="http://wa.me/+19545528230" target="_blank">
    <button class="primarybutton" type="button">Escribeme ahora</button>
  </a> 
</div>
<!-- Botón Volver Arriba -->
<button id="backToTop" aria-label="Volver arriba">
  ↑
</button>
<script>
     document.addEventListener('DOMContentLoaded', () => {
    const section = document.getElementById('animationB');
    const content = document.getElementById('animation-content');
    const sectionSecond = document.getElementById('animation-second');
    const about = document.getElementsByClassName('about-content')[0];
    const header = document.getElementById('animationA');
    
    function handleScroll() {
      const sectionHeader = header.getBoundingClientRect().top;
        const sectionAbout = about.getBoundingClientRect().top;
        const sectionTopSecond = sectionSecond.getBoundingClientRect().top;
        const sectionTop = section.getBoundingClientRect().top;
        const sectionTopContent = content.getBoundingClientRect().top;
        const windowHeight = window.innerHeight;

        if (sectionHeader < windowHeight) {
            header.classList.add('animate');
        }
  
        if (sectionTop < windowHeight) {
            section.classList.add('animate');
        }

        if (sectionTopContent < windowHeight) {
            content.classList.add('animate');
        }

        if (sectionTopSecond < windowHeight) {
            sectionSecond.classList.add('animate');
        }

        if (sectionAbout < windowHeight) {
            about.classList.add('animate');
        }
    }
  
    window.addEventListener('scroll', handleScroll);
    handleScroll(); 
  });
    // Mostrar el botón cuando se hace scroll
  window.addEventListener('scroll', function() {
    const btn = document.getElementById('backToTop');
    if (window.scrollY > 1200) {
      btn.style.display = 'block';
    } else {
      btn.style.display = 'none';
    }
  });

  // Scroll suave al header
  document.getElementById('backToTop').onclick = function() {
    document.getElementById('home').scrollIntoView({ behavior: 'smooth' });
  };
</script>

<style lang="scss">
  @use '../assets/sass/index' as *;

  // Animaciones
  #animationA, 
  .about-content, 
  #animation-second, 
  #animation-content, 
  #animationB {
    opacity: 0;
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
    &.animate {
      opacity: 1;
      transform: none;
    }
  }
  #animationA, 
  .about-content {
    transform: translateY(30px);
  }
  #animation-second, 
  #animation-content,
  #animationB {
    transform: translateX(-100%);
  }

  // Header
  header {
    position: relative;
    background-image: url("/src/assets/image/head1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 50px 0;
    height: 800px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background: linear-gradient(to top, rgba(0, 0, 0, 100%), rgba(0, 0, 0, 90%), rgba(0, 0, 0, 0));
      pointer-events: none;
    }
  }

  .content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    z-index: 1;
    p { margin-top: 15px; }
  }

  button {
    margin: 50px 5%;
  }

  // Section
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    padding: 50px 0;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background: linear-gradient(to top, rgba(0, 0, 0, 70%), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
      pointer-events: none;
    }
    p { 
      max-width: 70%; 
      margin-bottom: 1.2em;
    }
    img { 
      margin-top: 30px; 
      width: 100%;
    }
  }

  // Article
  article {
    background-color: $primary;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 85px;
    h3, p {
      margin: 0; 
    }
    button { 
      margin: 0; 
    }
    .content-gap { 
      width: 370px; 
      height: auto;
    }
    img { 
      width: 100%; 
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      padding: 20px;
      width: 100%;
    }
  }

  // Content text
  .content-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    padding: 50px 0;
    gap: 45px;
    z-index: 1;
  }
  .content-shadow {
    width: 400px;
    height: 350px;
    box-shadow: 0 0 25px 15px rgba($secondary, 8%);
    padding: 20px;
  }

  h3 { margin: 0 5%; }

  #backToTop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 0px;
    width: 48px;
    background: $primary;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    transition: background 0.2s;
  }

 .button-container {
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
 }

  // Responsive
  @media only screen and (min-width: 1024px) {
    h1 { font-size: 3rem; }
    header {
      flex-direction: row;
      background-position: center top;
      background-size: contain;
      height: 130vh;
      &::after {
        background: linear-gradient(to top, rgba(0, 0, 0, 100%), rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0));
      }
    }
    .content-box { justify-content: flex-end; }
    section {
      flex-direction: row;
      &::after {
        background: linear-gradient(to top, rgba(0, 0, 0, 100%), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
      }
      img { width: 50%; }
    }
    .primarybutton { width: 300px; }
    .content-text { flex-direction: row; }
    article { 
      flex-direction: row; 
    }
    article .content-gap { 
      width: 350px; }
    }
</style>
