<section id="contact">
  <figure>
    <a href="https://www.instagram.com/homewaychurch?igsh=MWQ3NmM4ZG01bmo0eQ==" target="_blank"><i class="ph ph-instagram-logo"></i></a>
    <a href="#" target="_blank"><i class="ph ph-x-logo"></i></a>
    <a href="https://www.youtube.com/@emanuelshares6130" target="_blank"><i class="ph ph-youtube-logo"></i></a>
    <a href="https://wa.me/+19545528230" target="_blank"><i class="ph ph-whatsapp-logo"></i></a> 
  </figure>
</section>

<style lang="scss">
  @use "../assets/sass/index" as *;

  section {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darktertiary;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    i {
      font-size: 50px; 
      transition: color 0.3s;
      margin: 0 20px;
      cursor: pointer;
      color: $secondary;
    }
  }

  a:hover i {
    color: #FFD261;
  }

  @media (min-width: 1024px) {

    figure i {
      margin: 0 60px;
    }
   
  }
</style>
